<h1>This is the home.</h1>
<li>
        <a href="/register">SignUp</a>
       
    </li>
    <li>
        <a href="/login">Log in</a>
    </li>
    <li>
        <a href="/logout">Log out</a>
    </li>
    