
<% include ./partials/header.ejs%>
<h1>
    Register yourself!

</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name= "password" placeholder="password">
    <input type="submit">

</form>>

<% include ./partials/footer.ejs%>